.video-catalog {
  margin-bottom: 1.6875em;
}

.video-catalog .ui.grid>.column:not(.row) {
  padding-bottom: 0.90625em;
  padding-top: 0.90625em;
}

.video-catalog .ui.grid>* {
  padding-left: 0.90625em;
  padding-right: 0.90625em;
}
