.video-catalog__message {
  color: #616161;
  font-family: "Roboto Bold";
  font-size: 2.25em;
  margin-bottom: 5.1875rem !important;
  margin-top: 5.1875rem;
  text-align: center;
}

.video-catalog__list .ui.embed {
  padding-bottom: 62.25% !important;
}

.video-catalog__list i {
  opacity: 0.9 !important;
}

.video-catalog__list .icon {
  background-image: url("../../assets/images/play.png");
  background-position: center;
  background-repeat: no-repeat;
}

.video-catalog__list .i.icon.video.play:before {
  background-image: url("../../assets/images/play.png");
  content: none !important;
}

.video-catalog__list i.icon.video:before {
  background-image: url("../../assets/images/play.png");
  content: none !important;
}

.video-catalog__list i.icon.play:before {
  background-image: url("../../assets/images/play.png");
  content: none !important;
}
